.stepper-container {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}
.stepper-nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.step-top {
  display: block;
  width: 20%;
  position: relative;
  height: 100px;
  overflow: hidden;
}
.step-number {
  background-color: #ccc;
  color: #fff;
  position: absolute;
  left: 50%;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  line-height: 3.3;
  top: 10%;
  transform: translateX(-50%);
  z-index: 1;
}
.step-top.active:after,
.step-top.complete:after {
  background-color: #238ae6;
}
.step-top.active .step-number,
.step-top.complete .step-number {
  background-color: #238ae6;
}
.step-top.active .step-title,
.step-top.complete .step-title {
  color: #000;
}
.step-title {
  color: #ccc;
  position: absolute;
  left: 50%;
  bottom: 10%;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  transform: translateX(-50%);
}
.step-top:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 35%;
  transform: translateY(-20%);
}
.step-top:first-child::after {
  left: 50%;
}
.step-top:last-child::after {
  right: 50%;
}
.stepper-buttons{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.next-step,.prev-step,.step-complete{
    margin: 0 20px;
    background: #238ae6;
    padding: 10px;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: #fff;
    border-radius: 5px;
}
.steps.active{
    display: block;
}
.steps{
    display: none;
}